@model List<Domain.Models.TreeMenuQuanTri>

<div class="sidebar-wrapper" data-layout="stroke-svg">
    <div class="logo-wrapper">
        <a href="index.html"><img class="img-fluid" src="~/202404/images/logo.png" alt=""></a>
        <div class="back-btn"><i class="fa fa-angle-left"> </i></div>
        <div class="toggle-sidebar"><i class="status_toggle middle sidebar-toggle" data-feather="grid"> </i></div>
    </div>
    <div class="logo-icon-wrapper">
        <a href="index.html">
            <img class="img-fluid" src="~/202404/images/logobe.png"
                 alt="">
        </a>
    </div>
    <nav class="sidebar-main">
        <div class="left-arrow" id="left-arrow"><i data-feather="arrow-left"></i></div>
        <div id="sidebar-menu">
            <ul class="sidebar-links" id="simple-bar">
                <li class="back-btn">
                    <a href="index.html">
                        <img class="img-fluid" src="~/202404/images/logo.png"
                             alt="">
                    </a>
                    <div class="mobile-back text-end">
                        <span>Back </span><i class="fa fa-angle-right ps-2"
                                             aria-hidden="true"></i>
                    </div>
                </li>
                <li class="pin-title sidebar-main-title">
                    <div>
                        <h6>Pinned</h6>
                    </div>
                </li>

                @foreach (var menu in Model)
                {
                    <li class="sidebar-main-title">
                        <div>
                            <h6 class="lan-">@menu.TenMenu</h6>
                        </div>
                    </li>

                    @if (menu.children != null && menu.children.Any())
                    {
                        @foreach (var subMenu1 in menu.children)
                        {
                            @if (subMenu1.children != null && subMenu1.children.Any())
                            {
                                <li class="sidebar-list">
                                    <i class="fa fa-thumb-tack"> </i>
                                    <a class="sidebar-link sidebar-title" href="@(subMenu1.LienKet ?? "#")">
                                        <i class="@subMenu1.Icon"> </i>
                                        <span class="ms-2">@subMenu1.TenMenu</span>
                                    </a>


                                    <ul class="sidebar-submenu">
                                        @foreach (var subMenu2 in subMenu1.children)
                                        {
                                            <li> <a href="@subMenu2.LienKet">@subMenu2.TenMenu</a></li>
                                        }
                                    </ul>

                                </li>
                            }
                            else
                            {
                                <li class="sidebar-list">
                                    <i class="fa fa-thumb-tack"> </i>
                                    <a class="sidebar-link sidebar-title link-nav" href="@subMenu1.LienKet">
                                        <i class="@subMenu1.Icon" aria-hidden="true"></i>
                                        <span class="ms-2">@subMenu1.TenMenu</span>
                                    </a>
                                </li>
                            }
                        }
                    }
                }
            </ul>
            <div class="right-arrow" id="right-arrow"><i data-feather="arrow-right"></i></div>
        </div>
    </nav>
</div>